[submodule "plugins/emqttd_dashboard"]
	path = plugins/emqttd_dashboard
	url = https://github.com/emqtt/emqttd_dashboard.git
[submodule "plugins/emqttd_plugin_redis"]
	path = plugins/emqttd_plugin_redis
	url = https://github.com/emqtt/emqttd_plugin_redis.git
[submodule "plugins/emqttd_reloader"]
	path = plugins/emqttd_reloader
	url = https://github.com/emqtt/emqttd_reloader.git
[submodule "plugins/emqttd_plugin_amqp"]
	path = plugins/emqttd_plugin_amqp
	url = git@github.com:inhandnet/emqttd_plugin_amqp.git
[submodule "plugins/emqttd_plugin_amqp"]
	path = plugins/emqttd_plugin_amqp
	url = git@github.com:inhandnet/emqttd_plugin_amqp.git